body {
    font-family: sans-serif;
    /* height: 100vh; */
    /* display: grid;
    align-items: center; */
}
#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.item {
  color: white;
  box-sizing: border-box;
}

p {
  margin: 0;
}

#filter-display {
  font-size: 18px;
  padding: 0.5em;
  border: 1px solid #CCC;
  color: blue;
  min-height: 47px;
}
